*, body {
    font-family: 'Playfair Display', serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    height: 150px;
}

.logo {
    font-weight: 700;
}

.list {
    text-decoration: none;
    font-weight: 600;
}

h2 {
    font-weight: 700;
}

.desc {
    font-weight: 400;
    letter-spacing: 3px;
    color: #666;
}

p {
    font-weight: 400;
    color: #666;
}

.active1 {
    border: solid 1px grey;
    border-radius: 8px;
}

.carousel {
    height: 55vh;
}

.active2 {
    border: solid 1px grey;
    border-radius: 20px;
}

.bottom {
    height: 350px;
}

.borders div {
    z-index: 9999;
    pointer-events: none;
    background-color: transparent;
    border-color: #252525;
    border-style: solid;
    height: 90px;
    position: fixed;
    width: 80px;
}

.icon {
    color: #666;
    font-size: 1.7rem;
}

.roww {
    padding: 100px 0;
    text-align: center;
    border-top: 1px solid #E3E3E3;
    margin-top: 120px;
}

.navbar{
    padding: 40px;
}

.test{
    margin-top: -75px;
}